/* LOG IN STYLING */

header#formsiden {
    display: flex;
    /*    border: 1px solid black;*/
    margin-bottom: 20px;
    background-color: #EA5045;
    height: 30vh;
    justify-content: center;
}

header#formsiden .login {
    flex-basis: 100px;
    height: 5vh;
    align-self: center;
}

.form_main {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    /*    align-content: center;*/
}

form#login_formular {
    display: flex;
    flex-direction: column;
    /*    width: 100%;*/
}

form#login_formular input {
    border: 1px solid white;
    padding: 10px;
    /*    width: 100%;*/
    border-radius: 18px;
    /*    align-self: center;*/
    margin-bottom: 10px;
}

form#login_formular .divider {
    height: 20px;
    align-self: center;
    margin-top: 150px;
    margin-bottom: 50px;
}

form#login_formular button {
    border: 1px solid #EA5045;
    padding: 10px;
    width: 100%;
    border-radius: 18px;
    /*    align-self: center;*/
    margin-bottom: 10px;
    color: #EA5045;
    background-color: white;
}

form#login_formular button[type=submit] {
    border: 1px solid #EA5045;
    padding: 10px;
    width: 100%;
    border-radius: 18px;
    /*    align-self: center;*/
    margin-bottom: 10px;
    background-color: #EA5045;
    color: white;
}

/*
form_#login_formular button[type=submit]img {
    margin-right: 80px;
}
*/

input[type=email] {
    color: #EA5045;
}

input[type=password] {
    color: #EA5045;
}

/*
button a {
    border: 1px solid white;
    padding: 10px;
    width: 100%;
    border-radius: 18px;
    background-color: white;
    align-self: center;
}
*/


/* LOG IN STYLING SLUT */

/* GENEREL */

body {
    margin: 0;
    background-color: #FAF7F7;
}

main {
    width: 375px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: canada-type-gibson, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #3F3140;
    font-size: 18px;
}

h2 {
    font-family: canada-type-gibson, sans-serif;
    color: #F58E81;
    font-size: 12px;
    text-decoration: none;
}

p {
    font-family: canada-type-gibson, sans-serif;
    color: #BCC5D3;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

/* GENEREL */

/* BURGER MENU STYLING */

#menu {
    background-color: #3F3140;
    width: 100vw;
    height: 100vh;
}

#menu #luk {
    text-align: right;
    padding: 20px;
}

#menu .keaburger {
    margin-bottom: 90px;
    text-align: center;
}

#menu .keaburger img {
    height: 40px;
    width: auto;
}

#burger a {
    font-family: canada-type-gibson, sans-serif;
    color: #F58E81;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    text-decoration: none;
}

#burger p {
    text-align: center;
    line-height: 2;

}

#logud {
    text-align: center;
    background-color: #F58E81;
    margin-top: 23.5vh;
    padding: 1px;
}

#logud a {
    font-family: canada-type-gibson, sans-serif;
    color: white;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    text-decoration: none;
}

/* BURGER MENU STYLING SLUT */

/* HEADER */

header {
    display: flex;
    /*    border: 1px solid black;*/
    margin-bottom: 20px;
    background-color: #EA5045;

}

header .logo {
    flex-basis: 500px;
    height: 50px;
    /*    border: 1px solid red;*/
    text-align: left;
}

header .logo img {
    margin: 18px 0px 0px 30px;
}

header .profil {
    flex-basis: 100px;
    /*    border: 1px solid red;*/
    text-align: right;
}

header .profil img {
    margin: 18px 15px 0px 0px;
}

header .menu img {
    margin: 18px 0px 0px 0px;
}

header .menu {
    flex-basis: 100px;
    /*    border: 1px solid red;*/
    text-align: center;
}

/* HEADER SLUT */

/* FORSIDE */

#row1 {
    display: flex;
    flex-wrap: wrap;
    /*    border: 1px solid black;*/
    justify-content: space-between;
    margin-bottom: 8px;
}

#row1 .materialer {
    flex-basis: 120px;
    height: 120px;
    /*    border: 1px solid red;*/
    background-color: #FFFFFF;
    text-align: center;
}

#row1 .materialer img {
    margin: 15px 0px 0px 0px;
    width: 60px;
}

#row1 .skema {
    flex-basis: 120px;
    /*    border: 1px solid red;*/
    background-color: #FFFFFF;
    text-align: center;
}

#row1 .skema img {
    margin: 15px 0px 4px 0px;
    width: 55px;
}

#row1 .noti {
    flex-basis: 120px;
    /*    border: 1px solid red;*/
    background-color: #FFFFFF;
    text-align: center;
}

#row1 .noti img {
    margin: 18px 0px 2px 0px;
    width: 55px;
}

#row2 {
    display: flex;
    flex-wrap: wrap;
    /*    border: 1px solid black;*/
    justify-content: space-between;
    margin-bottom: 8px;
}

#row2 .tech {
    flex-basis: 120px;
    margin-right: 8px;

    flex-grow: 1;
    height: 120px;
    /*    border: 1px solid red;*/
    background-color: #FFFFFF;
    text-align: center;
}

#row2 .tech h2 {
    font-size: 25px;
    margin: 43px 0px 0px 0px;
}

#row2 .mail {
    flex-basis: 120px;
    /*    border: 1px solid red;*/
    background-color: #FFFFFF;
    text-align: center;
}

#row2 .mail img {
    margin: 20px 0px 0px 0px;
    width: 55px;
}

#row3 {
    display: flex;
    flex-wrap: wrap;
    /*    border: 1px solid black;*/
    justify-content: space-between;
    margin-bottom: 8px;
}

#row3 .favorit {
    flex-basis: 120px;
    height: 120px;
    /*    border: 1px solid red;*/
    background-color: #FFFFFF;
    text-align: center;
}

#row3 .favorit img {
    margin: 20px 0px 0px 0px;
    width: 55px;
}

#row3 .grupper {
    flex-basis: 120px;
    /*    border: 1px solid red;*/
    background-color: #FFFFFF;
    text-align: center;
}

#row3 .grupper img {
    margin: 20px 0px 17px 0px;
    width: 55px;
}

#row3 .chat {
    flex-basis: 120px;
    /*    border: 1px solid red;*/
    background-color: #FFFFFF;
    text-align: center;
}

#row3 .chat img {
    margin: 20px 0px 15px 0px;
    width: 60px;
}

#row4 {
    display: flex;
    flex-wrap: wrap;
    /*    border: 1px solid black;*/
    justify-content: space-between;
    margin-bottom: 8px;
}

#row4 div {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 128px;
}

#row4 .soeg {
    flex-basis: 120px;
    height: 120px;
    /*    border: 1px solid red;*/
    margin-bottom: 8px;
    background-color: #FFFFFF;
    justify-content: center;
    /*    flex-grow: 1;*/
}

#row4 .soeg img {
    margin: 16px 10px 9px 10px;
    width: 50px;
    flex-basis: 120px;
}


#row4 .afleveringer {
    flex-basis: 120px;
    height: 120px;
    /*    border: 1px solid red;*/
    background-color: #FFFFFF;
    justify-content: center;
}

#row4 .afleveringer img {
    margin: 15px 10px 10px 10px;
    width: 50px;
    flex-basis: 120px;
}

#row4 .aktuelt {
    flex-basis: 200px;
    /*    border: 1px solid red;*/
    height: 248px;
    background-color: #FFFFFF;
    justify-content: center;
    flex-grow: 1;
}

#row4 .aktuelt h2 {
    margin: 100px 0px 0px 0px;
    font-size: 32px;
}

#row5 {
    display: flex;
    flex-wrap: wrap;
    /*    border: 1px solid black;*/
    justify-content: space-between;
    margin-bottom: 8px;
}

#row5 .xx1 img {
    margin: 20px 0px 0px 0px;
    width: 55px;
}

#row5 .xx1 {
    flex-basis: 120px;
    height: 120px;
    /*    border: 1px solid red;*/
    background-color: #FFFFFF;
    text-align: center;
}

#row5 .xx2 img {
    margin: 20px 0px 0px 0px;
    width: 55px;
}


#row5 .xx2 {
    flex-basis: 120px;
    /*    border: 1px solid red;*/
    background-color: #FFFFFF;
    text-align: center;
}

#row5 .xx3 img {
    margin: 20px 0px 0px 0px;
    width: 55px;
}


#row5 .xx3 {
    flex-basis: 120px;
    /*    border: 1px solid red;*/
    background-color: #FFFFFF;
    text-align: center;
}

/* FORSIDE SLUT */

/* SKEMA */

#skema {
    display: flex;
    /*    border: 1px solid black;*/
    justify-content: space-between;
    padding: 0px 10px;
    background-color: #DEDCDB;
}

#skema .info {
    flex-basis: 100px;
    /*    border: 1px solid red;*/
}

#skema .info p {
    font-family: canada-type-gibson, sans-serif;
    color: #707070;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

#skema .tema {
    flex-basis: 100px;
    /*    border: 1px solid red;*/
    text-align: right;
    padding: 5px;
}

#skema .tema p {
    font-family: canada-type-gibson, sans-serif;
    color: #707070;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

#skema .tema .fed {
    font-family: canada-type-gibson, sans-serif;
    color: #707070;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
}

#dato {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #3F3140;
    flex-direction: row;
    justify-content: center;
}

#dato .pil_back {
    display: flex;

}

#dato .dato {
    margin: 0px 30px;

}

#dato .pil_frem {
    display: flex;
}

#dato .dato p {
    font-family: canada-type-gibson, sans-serif;
    color: #FFFFFF;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
}


/* RÆKKE 1 */

#raekke1 {
    display: flex;
    border: 1px #BCC5D3;
    margin-bottom: 10px;
}

#raekke1 .time1 {
    flex-basis: 100px;
    border-bottom: 1px solid #BCC5D3;
    border-left: 1px solid #BCC5D3;
    border-top: 1px solid #BCC5D3;
    padding: 10px;
}


#raekke1 .time2 {
    flex-basis: 100px;
    border-bottom: 1px solid #BCC5D3;
    border-left: 1px solid #BCC5D3;
    padding: 10px;
}

#raekke1 .modul1 {
    border: 1px solid #BCC5D3;
    flex-basis: 200px;
    flex-grow: 1;
    background-color: #F2F1F0;
    padding: 1px 0px 0px 10px;
}

#raekke1 .modul1 .folder {
    position: absolute;
    top: 225px;
    right: 75px;
}

#raekke1 .modul1 img {
    position: absolute;
    top: 250px;
    right: 75px;
}

/* FONT STYLING MODUL 1 */

#raekke1 .modul1 p {
    font-family: canada-type-gibson, sans-serif;
    color: #000000;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

#raekke1 .modul1 h2 {
    font-family: canada-type-gibson, sans-serif;
    color: #000000;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
}

/* RÆKKE 2 */

#raekke2 {
    display: flex;
    border: 1px #BCC5D3;
    margin-bottom: 10px;
}

#raekke2 .time3 {
    flex-basis: 100px;
    border-bottom: 1px solid #BCC5D3;
    border-top: 1px solid #BCC5D3;
    border-left: 1px solid #BCC5D3;
    padding: 10px;
}


#raekke2 .time4 {
    flex-basis: 100px;
    border-bottom: 1px solid #BCC5D3;
    border-left: 1px solid #BCC5D3;
    padding: 10px;
}

#raekke2 .modul2 {
    border: 1px solid #BCC5D3;
    flex-basis: 200px;
    flex-grow: 1;
    background-color: #F2F1F0;
    padding: 1px 0px 0px 10px;
}


#raekke2 .modul2 img {
    position: absolute;
    top: 385px;
    right: 75px;
}

/* FONT STYLING MODUL 2 */

#raekke2 .modul2 p {
    font-family: canada-type-gibson, sans-serif;
    color: #000000;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

#raekke2 .modul2 h2 {
    font-family: canada-type-gibson, sans-serif;
    color: #000000;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
}


/* RÆKKE 3 */

#raekke3 {
    display: flex;
    border: 1px #BCC5D3;
    margin-bottom: 10px;
}

#raekke3 .time5 {
    flex-basis: 100px;
    border-bottom: 1px solid #BCC5D3;
    border-top: 1px solid #BCC5D3;
    border-left: 1px solid #BCC5D3;
    padding: 10px;
}


#raekke3 .time6 {
    flex-basis: 150px;
    border-bottom: 1px solid #BCC5D3;
    border-left: 1px solid #BCC5D3;
    padding: 10px;
}

#raekke3 .modul3 {
    border: 1px solid #BCC5D3;
    flex-basis: 200px;
    flex-grow: 1;
    background-color: #F2F1F0;
    padding: 1px 0px 0px 10px;
}


#raekke3 .modul3 img {
    position: absolute;
    top: 541px;
    right: 75px;
}

/* FONT STYLING MODUL 3 */

#raekke3 .modul3 p {
    font-family: canada-type-gibson, sans-serif;
    color: #000000;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

#raekke3 .modul3 h2 {
    font-family: canada-type-gibson, sans-serif;
    color: #000000;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
}

/* RÆKKE 4 */

#raekke4 {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    height: 150px;

}

#raekke4 .et {
    display: flex;
    flex-basis: 100px;
    margin-bottom: 0px;
}

#raekke4 .et .time7 {
    flex-basis: 15px;
    border-bottom: 1px solid #BCC5D3;
    border-top: 1px solid #BCC5D3;
    border-left: 1px solid #BCC5D3;
    padding: 10px;
}

#raekke4 .et .blank {
    border: 1px solid #BCC5D3;
    flex-grow: 1;
}

#raekke4 .to {
    display: flex;
    flex-basis: 100px;
}

#raekke4 .to .time8 {
    flex-basis: 15px;
    border-bottom: 1px solid #BCC5D3;
    border-left: 1px solid #BCC5D3;
    padding: 10px;
}

#raekke4 .to .blank {
    border: 1px solid #BCC5D3;
    border-top: 0px;
    flex-grow: 1;
}

/* FOOTER */

#skema_foot {
    background-color: #3F3140;
}

.foot {
    display: flex;
    justify-content: center;
}

#skema_foot .foot img {
    margin-right: 8px;
}

#skema_foot .foot p {
    font-family: canada-type-gibson, sans-serif;
    color: #FFFFFF;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;

}

/* SKEMA SLUT */


/* MATERIALER */
/* NUMMER 1 */

#nr1 {
    display: flex;
    border: 1px #BCC5D3;
    margin-bottom: 10px;
    margin-top: 10px;
}

#nr1 .opgave1 {
    border: 1px solid #BCC5D3;
    flex-basis: 200px;
    flex-grow: 1;
    background-color: #F2F1F0;
    padding: 1px 0px 0px 10px;
}

#nr1 .opgave1 img {
    position: absolute;
    top: 246px;
    right: 70px;
}

/* FONT STYLING NUMMER 1 */

#nr1 .opgave1 p {
    font-family: canada-type-gibson, sans-serif;
    color: #000000;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

#nr1 .opgave1 h2 {
    font-family: canada-type-gibson, sans-serif;
    color: #000000;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
}

/* NUMMER 2 */

#nr2 {
    display: flex;
    border: 1px #BCC5D3;
    margin-bottom: 10px;
}


#nr2 .opgave2 {
    border: 1px solid #BCC5D3;
    flex-basis: 200px;
    flex-grow: 1;
    background-color: #F2F1F0;
    padding: 1px 0px 0px 10px;
}


#nr2 .opgave2 img {
    position: absolute;
    top: 322px;
    right: 70px;
}

/* FONT STYLING NUMMER 2 */

#nr2 .opgave2 p {
    font-family: canada-type-gibson, sans-serif;
    color: #000000;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

#nr2 .opgave2 h2 {
    font-family: canada-type-gibson, sans-serif;
    color: #000000;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
}


/* NUMMER 3 */

#nr3 {
    display: flex;
    border: 1px #BCC5D3;
    margin-bottom: 10px;
}

#nr3 .opgave3 {
    border: 1px solid #BCC5D3;
    flex-basis: 200px;
    flex-grow: 1;
    background-color: #F2F1F0;
    padding: 1px 0px 0px 10px;
    margin-bottom: 250px;
}


#nr3 .opgave3 img {
    position: absolute;
    top: 403px;
    right: 74px;
}

/* FONT STYLING NUMMER 3 */

#nr3 .opgave3 p {
    font-family: canada-type-gibson, sans-serif;
    color: #000000;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

#nr3 .opgave3 h2 {
    font-family: canada-type-gibson, sans-serif;
    color: #000000;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
}

/* MATERIALER SLUT */

.hidden {
    display: none;
}
